 .wrapper {
    display: flex;
    /* height: 100vh;
    width: 100wv; */
    justify-content: center;
    align-items: center;
}



.accordion {
    width: 400px;
} 



.item {
    background: "#f0ebe1";
    margin-buttom: 5px;
    padding: 10px 20px;
}



.title {
    color: "#85662b"
}



.content {
    color: "#8b7f75"
} 